header {
	width: 100%;
	height: 90px;
	font-family: Futura;
	font-size: 60px;
	text-align: left;
	color: #E08B72;
	margin-bottom: 30px;
}

li {
	position: block;
	background-color: blue;
	width: 60%;
	height: 60px;
	font-family: Helvetica;
	font-size: 30px;
	list-style: none;
	text-align: center;
	font-color: #E08B72;
}
